results_emb/
results_output/
results_weights/
weights/
nohup


__pycache__/
*.pyc
*.log
*.txt
*.out
*.pkl
app/nohup.out
.gitignore
app/mains/learning_historyAccuracy.png
app/mains/learning_historyLoss.png
app/mains/KTH_test.py
