results_emb/
results_output/
results_weights/
weights/
nohup


__pycache__/
*.pyc
*.log
*.txt
*.out
*.pkl
*.eps
app/nohup.out
.gitignore
app/mains/learning_historyAccuracy.png
app/mains/learning_historyLoss.png
app/mains/KTH_test.py
app/executers/featureValues/
app/executers/executer.py
.devcontainer/.ssh/

app/tools/graph.png
app/tools/*.png
app/executers/executer.py
